# Plane's public API reference does not publish a downloadable OpenAPI document.
# This contract is a route-complete Prism baseline derived from the documented operation pages.
# Tighten JsonObject/JsonValue schemas and operation payloads as repository tests are added.
openapi: 3.0.3
info:
  title: Plane REST API (test contract)
  version: 0.1.0
  description: |
    A local contract for mocking and validating the Plane REST API with Prism.
    The documented API uses /api/v1 paths, JSON payloads, cursor pagination, and
    either X-API-Key or OAuth bearer authentication. This file is intentionally
    permissive for resource payloads because no downloadable official OAS file is
    published; the documented method/path surface remains explicit below.
    Official documentation: https://developers.plane.so/api-reference/introduction
  contact:
    name: Plane
    url: https://plane.so
servers:
  - url: https://api.plane.so
    description: Plane Cloud
  - url: http://localhost:4010
    description: Local Prism mock
security:
  - ApiKeyAuth: []
  - BearerAuth: []
tags:
  - name: Assets
  - name: Collections
  - name: Customer Properties
  - name: Customers
  - name: Cycles
  - name: Estimates
  - name: Epics
  - name: Features
  - name: IDP Group Sync
  - name: Inbox
  - name: Initiatives
  - name: Intake
  - name: Labels
  - name: Members
  - name: Milestones
  - name: Modules
  - name: Pages
  - name: Plane API
  - name: Project Labels
  - name: Projects
  - name: Releases
  - name: States
  - name: Stickies
  - name: Teamspaces
  - name: Time Tracking
  - name: Users
  - name: Work Item Types
  - name: Work Items
  - name: Workspace Invitations
paths:
  '/api/v1/assets/user-assets/':
    post:
      tags:
        - 'Assets'
      summary: 'Create user asset upload'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/assets/create-user-asset-upload.md
      operationId: post_api_v1_assets_user_assets
      x-plane-documentation:
        - https://developers.plane.so/api-reference/assets/create-user-asset-upload.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/assets/user-assets/{asset_id}/':
    parameters:
      - name: 'asset_id'
        in: path
        required: true
        schema:
          type: string
    patch:
      tags:
        - 'Assets'
      summary: 'Update user asset'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/assets/update-user-asset.md
      operationId: patch_api_v1_assets_user_assets_asset_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/assets/update-user-asset.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Assets'
      summary: 'Delete user asset'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/assets/delete-user-asset.md
      operationId: delete_api_v1_assets_user_assets_asset_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/assets/delete-user-asset.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/users/me/':
    get:
      tags:
        - 'Users'
      summary: 'Get current user'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/user/get-current-user.md
      operationId: get_api_v1_users_me
      x-plane-documentation:
        - https://developers.plane.so/api-reference/user/get-current-user.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{slug}/projects/{project_id}/epics/':
    parameters:
      - name: 'slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'project_id'
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - 'Epics'
      summary: 'Create epic'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/epics/create-epic.md
      operationId: post_api_v1_workspaces_slug_projects_project_id_epics
      x-plane-documentation:
        - https://developers.plane.so/api-reference/epics/create-epic.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{slug}/projects/{project_id}/epics/{epic_id}/':
    parameters:
      - name: 'slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'project_id'
        in: path
        required: true
        schema:
          type: string
      - name: 'epic_id'
        in: path
        required: true
        schema:
          type: string
    patch:
      tags:
        - 'Epics'
      summary: 'Update epic'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/epics/update-epic.md
      operationId: patch_api_v1_workspaces_slug_projects_project_id_epics_epic_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/epics/update-epic.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Epics'
      summary: 'Delete epic'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/epics/delete-epic.md
      operationId: delete_api_v1_workspaces_slug_projects_project_id_epics_epic_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/epics/delete-epic.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{slug}/projects/{project_id}/epics/{epic_id}/issues/':
    parameters:
      - name: 'slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'project_id'
        in: path
        required: true
        schema:
          type: string
      - name: 'epic_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Epics'
      summary: 'List epic work items'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/epics/list-epic-work-items.md
      operationId: get_api_v1_workspaces_slug_projects_project_id_epics_epic_id_issues
      x-plane-documentation:
        - https://developers.plane.so/api-reference/epics/list-epic-work-items.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'Epics'
      summary: 'Add epic work items'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/epics/add-epic-work-items.md
      operationId: post_api_v1_workspaces_slug_projects_project_id_epics_epic_id_issues
      x-plane-documentation:
        - https://developers.plane.so/api-reference/epics/add-epic-work-items.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/assets/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - 'Assets'
      summary: 'Create workspace asset upload'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/assets/create-workspace-asset-upload.md
      operationId: post_api_v1_workspaces_workspace_slug_assets
      x-plane-documentation:
        - https://developers.plane.so/api-reference/assets/create-workspace-asset-upload.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/assets/{asset_id}/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'asset_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Assets'
      summary: 'Get workspace asset'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/assets/get-workspace-asset.md
      operationId: get_api_v1_workspaces_workspace_slug_assets_asset_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/assets/get-workspace-asset.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - 'Assets'
      summary: 'Update workspace asset'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/assets/update-workspace-asset.md
      operationId: patch_api_v1_workspaces_workspace_slug_assets_asset_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/assets/update-workspace-asset.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/collections/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Collections'
      summary: 'List collections'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/collection/list-collections.md
      operationId: get_api_v1_workspaces_workspace_slug_collections
      x-plane-documentation:
        - https://developers.plane.so/api-reference/collection/list-collections.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'Collections'
      summary: 'Create collection'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/collection/create-collection.md
      operationId: post_api_v1_workspaces_workspace_slug_collections
      x-plane-documentation:
        - https://developers.plane.so/api-reference/collection/create-collection.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/collections/{collection_id}/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'collection_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Collections'
      summary: 'Retrieve collection'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/collection/retrieve-collection.md
      operationId: get_api_v1_workspaces_workspace_slug_collections_collection_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/collection/retrieve-collection.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - 'Collections'
      summary: 'Update collection'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/collection/update-collection.md
      operationId: patch_api_v1_workspaces_workspace_slug_collections_collection_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/collection/update-collection.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Collections'
      summary: 'Delete collection'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/collection/delete-collection.md
      operationId: delete_api_v1_workspaces_workspace_slug_collections_collection_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/collection/delete-collection.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/collections/{collection_id}/members/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'collection_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Collections'
      summary: 'List collection members'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/collection/list-collection-members.md
      operationId: get_api_v1_workspaces_workspace_slug_collections_collection_id_members
      x-plane-documentation:
        - https://developers.plane.so/api-reference/collection/list-collection-members.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'Collections'
      summary: 'Add collection member'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/collection/add-collection-member.md
      operationId: post_api_v1_workspaces_workspace_slug_collections_collection_id_members
      x-plane-documentation:
        - https://developers.plane.so/api-reference/collection/add-collection-member.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/collections/{collection_id}/members/{member_id}/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'collection_id'
        in: path
        required: true
        schema:
          type: string
      - name: 'member_id'
        in: path
        required: true
        schema:
          type: string
    patch:
      tags:
        - 'Collections'
      summary: 'Update collection member'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/collection/update-collection-member.md
      operationId: patch_api_v1_workspaces_workspace_slug_collections_collection_id_members_member_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/collection/update-collection-member.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Collections'
      summary: 'Remove collection member'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/collection/remove-collection-member.md
      operationId: delete_api_v1_workspaces_workspace_slug_collections_collection_id_members_member_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/collection/remove-collection-member.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/collections/{collection_id}/pages-search/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'collection_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Collections'
      summary: 'Search collection pages'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/collection/search-collection-pages.md
      operationId: get_api_v1_workspaces_workspace_slug_collections_collection_id_pages_search
      x-plane-documentation:
        - https://developers.plane.so/api-reference/collection/search-collection-pages.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/collections/{collection_id}/pages/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'collection_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Collections'
      summary: 'List collection pages'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/collection/list-collection-pages.md
      operationId: get_api_v1_workspaces_workspace_slug_collections_collection_id_pages
      x-plane-documentation:
        - https://developers.plane.so/api-reference/collection/list-collection-pages.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'Collections'
      summary: 'Add collection pages'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/collection/add-collection-pages.md
      operationId: post_api_v1_workspaces_workspace_slug_collections_collection_id_pages
      x-plane-documentation:
        - https://developers.plane.so/api-reference/collection/add-collection-pages.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/collections/{collection_id}/pages/{page_collection_id}/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'collection_id'
        in: path
        required: true
        schema:
          type: string
      - name: 'page_collection_id'
        in: path
        required: true
        schema:
          type: string
    patch:
      tags:
        - 'Collections'
      summary: 'Move or reorder collection page'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/collection/move-or-reorder-collection-page.md
      operationId: patch_api_v1_workspaces_workspace_slug_collections_collection_id_pages_page_collection_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/collection/move-or-reorder-collection-page.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Collections'
      summary: 'Remove collection page'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/collection/remove-collection-page.md
      operationId: delete_api_v1_workspaces_workspace_slug_collections_collection_id_pages_page_collection_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/collection/remove-collection-page.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/customer-properties/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Customer Properties'
      summary: 'List customer properties'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/list-customer-properties.md
      operationId: get_api_v1_workspaces_workspace_slug_customer_properties
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/list-customer-properties.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'Customer Properties'
      summary: 'Add customer property'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/add-customer-property.md
      operationId: post_api_v1_workspaces_workspace_slug_customer_properties
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/add-customer-property.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/customer-properties/{property_id}/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'property_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Customer Properties'
      summary: 'Get customer property detail'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/get-customer-property-detail.md
      operationId: get_api_v1_workspaces_workspace_slug_customer_properties_property_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/get-customer-property-detail.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - 'Customer Properties'
      summary: 'Update customer property detail'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/update-customer-property-detail.md
      operationId: patch_api_v1_workspaces_workspace_slug_customer_properties_property_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/update-customer-property-detail.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Customer Properties'
      summary: 'Delete customer property'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/delete-customer-property.md
      operationId: delete_api_v1_workspaces_workspace_slug_customer_properties_property_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/delete-customer-property.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/customers/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Customers'
      summary: 'List customers'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/list-customers.md
      operationId: get_api_v1_workspaces_workspace_slug_customers
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/list-customers.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'Customers'
      summary: 'Add customer'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/add-customer.md
      operationId: post_api_v1_workspaces_workspace_slug_customers
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/add-customer.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/customers/{customer_id}/issues/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'customer_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Customers'
      summary: 'List customer work items'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/list-customer-work-items.md
      operationId: get_api_v1_workspaces_workspace_slug_customers_customer_id_issues
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/list-customer-work-items.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'Customers'
      summary: 'Link work items to customer'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/link-work-items-to-customer.md
      operationId: post_api_v1_workspaces_workspace_slug_customers_customer_id_issues
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/link-work-items-to-customer.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/customers/{customer_id}/issues/{work_item_id}/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'customer_id'
        in: path
        required: true
        schema:
          type: string
      - name: 'work_item_id'
        in: path
        required: true
        schema:
          type: string
    delete:
      tags:
        - 'Customers'
      summary: 'Unlink work item from customer'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/unlink-work-item-from-customer.md
      operationId: delete_api_v1_workspaces_workspace_slug_customers_customer_id_issues_work_item_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/unlink-work-item-from-customer.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/customers/{customer_id}/property-values/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'customer_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Customers'
      summary: 'List customer property values'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/list-customer-property-values.md
      operationId: get_api_v1_workspaces_workspace_slug_customers_customer_id_property_values
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/list-customer-property-values.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/customers/{customer_id}/property-values/{property_id}/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'customer_id'
        in: path
        required: true
        schema:
          type: string
      - name: 'property_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Customers'
      summary: 'Get customer property value'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/get-customer-property-value.md
      operationId: get_api_v1_workspaces_workspace_slug_customers_customer_id_property_values_property_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/get-customer-property-value.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - 'Customers'
      summary: 'Update customer property value'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/update-customer-property-value.md
      operationId: patch_api_v1_workspaces_workspace_slug_customers_customer_id_property_values_property_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/update-customer-property-value.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/customers/{customer_id}/requests/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'customer_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Customers'
      summary: 'List customer requests'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/list-customer-requests.md
      operationId: get_api_v1_workspaces_workspace_slug_customers_customer_id_requests
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/list-customer-requests.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'Customers'
      summary: 'Add customer request'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/add-customer-request.md
      operationId: post_api_v1_workspaces_workspace_slug_customers_customer_id_requests
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/add-customer-request.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/customers/{customer_id}/requests/{resource_id}/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'customer_id'
        in: path
        required: true
        schema:
          type: string
      - name: 'resource_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Customers'
      summary: 'Get customer request detail'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/get-customer-request-detail.md
      operationId: get_api_v1_workspaces_workspace_slug_customers_customer_id_requests_resource_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/get-customer-request-detail.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - 'Customers'
      summary: 'Update customer request detail'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/update-customer-request-detail.md
      operationId: patch_api_v1_workspaces_workspace_slug_customers_customer_id_requests_resource_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/update-customer-request-detail.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Customers'
      summary: 'Delete customer request'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/delete-customer-request.md
      operationId: delete_api_v1_workspaces_workspace_slug_customers_customer_id_requests_resource_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/delete-customer-request.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/customers/{resource_id}/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'resource_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Customers'
      summary: 'Get customer detail'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/get-customer-detail.md
      operationId: get_api_v1_workspaces_workspace_slug_customers_resource_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/get-customer-detail.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - 'Customers'
      summary: 'Update customer detail'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/update-customer-detail.md
      operationId: patch_api_v1_workspaces_workspace_slug_customers_resource_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/update-customer-detail.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Customers'
      summary: 'Delete customer'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/customer/delete-customer.md
      operationId: delete_api_v1_workspaces_workspace_slug_customers_resource_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/customer/delete-customer.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/features/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Features'
      summary: 'Get workspace features'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/workspace-features/get-workspace-features.md
      operationId: get_api_v1_workspaces_workspace_slug_features
      x-plane-documentation:
        - https://developers.plane.so/api-reference/workspace-features/get-workspace-features.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - 'Features'
      summary: 'Update workspace features'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/workspace-features/update-workspace-features.md
      operationId: patch_api_v1_workspaces_workspace_slug_features
      x-plane-documentation:
        - https://developers.plane.so/api-reference/workspace-features/update-workspace-features.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/group-sync/config/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'IDP Group Sync'
      summary: 'Get group sync config'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/idp-group-sync/get-group-sync-config.md
      operationId: get_api_v1_workspaces_workspace_slug_group_sync_config
      x-plane-documentation:
        - https://developers.plane.so/api-reference/idp-group-sync/get-group-sync-config.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - 'IDP Group Sync'
      summary: 'Update group sync config'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/idp-group-sync/update-group-sync-config.md
      operationId: patch_api_v1_workspaces_workspace_slug_group_sync_config
      x-plane-documentation:
        - https://developers.plane.so/api-reference/idp-group-sync/update-group-sync-config.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/group-sync/project-mappings/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'IDP Group Sync'
      summary: 'List project mappings'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/idp-group-sync/list-project-mappings.md
      operationId: get_api_v1_workspaces_workspace_slug_group_sync_project_mappings
      x-plane-documentation:
        - https://developers.plane.so/api-reference/idp-group-sync/list-project-mappings.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'IDP Group Sync'
      summary: 'Create project mapping'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/idp-group-sync/create-project-mapping.md
      operationId: post_api_v1_workspaces_workspace_slug_group_sync_project_mappings
      x-plane-documentation:
        - https://developers.plane.so/api-reference/idp-group-sync/create-project-mapping.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/group-sync/project-mappings/{mapping_id}/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'mapping_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'IDP Group Sync'
      summary: 'Get project mapping'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/idp-group-sync/get-project-mapping.md
      operationId: get_api_v1_workspaces_workspace_slug_group_sync_project_mappings_mapping_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/idp-group-sync/get-project-mapping.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - 'IDP Group Sync'
      summary: 'Update project mapping'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/idp-group-sync/update-project-mapping.md
      operationId: patch_api_v1_workspaces_workspace_slug_group_sync_project_mappings_mapping_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/idp-group-sync/update-project-mapping.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'IDP Group Sync'
      summary: 'Delete project mapping'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/idp-group-sync/delete-project-mapping.md
      operationId: delete_api_v1_workspaces_workspace_slug_group_sync_project_mappings_mapping_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/idp-group-sync/delete-project-mapping.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/group-sync/workspace-mappings/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'IDP Group Sync'
      summary: 'List workspace mappings'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/idp-group-sync/list-workspace-mappings.md
      operationId: get_api_v1_workspaces_workspace_slug_group_sync_workspace_mappings
      x-plane-documentation:
        - https://developers.plane.so/api-reference/idp-group-sync/list-workspace-mappings.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'IDP Group Sync'
      summary: 'Create workspace mapping'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/idp-group-sync/create-workspace-mapping.md
      operationId: post_api_v1_workspaces_workspace_slug_group_sync_workspace_mappings
      x-plane-documentation:
        - https://developers.plane.so/api-reference/idp-group-sync/create-workspace-mapping.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/group-sync/workspace-mappings/{mapping_id}/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'mapping_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'IDP Group Sync'
      summary: 'Get workspace mapping'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/idp-group-sync/get-workspace-mapping.md
      operationId: get_api_v1_workspaces_workspace_slug_group_sync_workspace_mappings_mapping_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/idp-group-sync/get-workspace-mapping.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - 'IDP Group Sync'
      summary: 'Update workspace mapping'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/idp-group-sync/update-workspace-mapping.md
      operationId: patch_api_v1_workspaces_workspace_slug_group_sync_workspace_mappings_mapping_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/idp-group-sync/update-workspace-mapping.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'IDP Group Sync'
      summary: 'Delete workspace mapping'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/idp-group-sync/delete-workspace-mapping.md
      operationId: delete_api_v1_workspaces_workspace_slug_group_sync_workspace_mappings_mapping_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/idp-group-sync/delete-workspace-mapping.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/initiatives/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Initiatives'
      summary: 'List initiatives'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/list-initiatives.md
      operationId: get_api_v1_workspaces_workspace_slug_initiatives
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/list-initiatives.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'Initiatives'
      summary: 'Add initiative'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/add-initiative.md
      operationId: post_api_v1_workspaces_workspace_slug_initiatives
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/add-initiative.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/initiatives/labels/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Initiatives'
      summary: 'List initiative labels'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/list-initiative-labels.md
      operationId: get_api_v1_workspaces_workspace_slug_initiatives_labels
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/list-initiative-labels.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'Initiatives'
      summary: 'Add initiative label'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/add-initiative-label.md
      operationId: post_api_v1_workspaces_workspace_slug_initiatives_labels
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/add-initiative-label.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/initiatives/labels/{label_id}/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'label_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Initiatives'
      summary: 'Get initiative label detail'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/get-initiative-label-detail.md
      operationId: get_api_v1_workspaces_workspace_slug_initiatives_labels_label_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/get-initiative-label-detail.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - 'Initiatives'
      summary: 'Update initiative label detail'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/update-initiative-label-detail.md
      operationId: patch_api_v1_workspaces_workspace_slug_initiatives_labels_label_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/update-initiative-label-detail.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Initiatives'
      summary: 'Delete initiative label'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/delete-initiative-label.md
      operationId: delete_api_v1_workspaces_workspace_slug_initiatives_labels_label_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/delete-initiative-label.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/initiatives/{initiative_id}/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'initiative_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Initiatives'
      summary: 'Get initiative detail'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/get-initiative-detail.md
      operationId: get_api_v1_workspaces_workspace_slug_initiatives_initiative_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/get-initiative-detail.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - 'Initiatives'
      summary: 'Update initiative detail'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/update-initiative-detail.md
      operationId: patch_api_v1_workspaces_workspace_slug_initiatives_initiative_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/update-initiative-detail.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Initiatives'
      summary: 'Delete initiative'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/delete-initiative.md
      operationId: delete_api_v1_workspaces_workspace_slug_initiatives_initiative_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/delete-initiative.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/initiatives/{initiative_id}/epics/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'initiative_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Initiatives'
      summary: 'List initiative epics'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/list-initiative-epics.md
      operationId: get_api_v1_workspaces_workspace_slug_initiatives_initiative_id_epics
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/list-initiative-epics.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'Initiatives'
      summary: 'Add epics to initiative'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/add-epics-to-initiative.md
      operationId: post_api_v1_workspaces_workspace_slug_initiatives_initiative_id_epics
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/add-epics-to-initiative.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Initiatives'
      summary: 'Remove epics from initiative'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/remove-epics-from-initiative.md
      operationId: delete_api_v1_workspaces_workspace_slug_initiatives_initiative_id_epics
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/remove-epics-from-initiative.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/initiatives/{initiative_id}/labels/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'initiative_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Initiatives'
      summary: 'List initiative labels for initiative'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/list-initiative-labels-for-initiative.md
      operationId: get_api_v1_workspaces_workspace_slug_initiatives_initiative_id_labels
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/list-initiative-labels-for-initiative.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'Initiatives'
      summary: 'Add labels to initiative'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/add-labels-to-initiative.md
      operationId: post_api_v1_workspaces_workspace_slug_initiatives_initiative_id_labels
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/add-labels-to-initiative.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Initiatives'
      summary: 'Remove labels from initiative'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/remove-labels-from-initiative.md
      operationId: delete_api_v1_workspaces_workspace_slug_initiatives_initiative_id_labels
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/remove-labels-from-initiative.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/initiatives/{initiative_id}/projects/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'initiative_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Initiatives'
      summary: 'List initiative projects'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/list-initiative-projects.md
      operationId: get_api_v1_workspaces_workspace_slug_initiatives_initiative_id_projects
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/list-initiative-projects.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'Initiatives'
      summary: 'Add projects to initiative'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/add-projects-to-initiative.md
      operationId: post_api_v1_workspaces_workspace_slug_initiatives_initiative_id_projects
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/add-projects-to-initiative.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Initiatives'
      summary: 'Remove projects from initiative'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/initiative/remove-projects-from-initiative.md
      operationId: delete_api_v1_workspaces_workspace_slug_initiatives_initiative_id_projects
      x-plane-documentation:
        - https://developers.plane.so/api-reference/initiative/remove-projects-from-initiative.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/invitations/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Workspace Invitations'
      summary: 'List workspace invitations'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/workspace-invitations/list-workspace-invitations.md
      operationId: get_api_v1_workspaces_workspace_slug_invitations
      x-plane-documentation:
        - https://developers.plane.so/api-reference/workspace-invitations/list-workspace-invitations.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'Workspace Invitations'
      summary: 'Add workspace invitation'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/workspace-invitations/add-workspace-invitation.md
      operationId: post_api_v1_workspaces_workspace_slug_invitations
      x-plane-documentation:
        - https://developers.plane.so/api-reference/workspace-invitations/add-workspace-invitation.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/invitations/{invitation_id}/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'invitation_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Workspace Invitations'
      summary: 'Get workspace invitation detail'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/workspace-invitations/get-workspace-invitation-detail.md
      operationId: get_api_v1_workspaces_workspace_slug_invitations_invitation_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/workspace-invitations/get-workspace-invitation-detail.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - 'Workspace Invitations'
      summary: 'Update workspace invitation'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/workspace-invitations/update-workspace-invitation.md
      operationId: patch_api_v1_workspaces_workspace_slug_invitations_invitation_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/workspace-invitations/update-workspace-invitation.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Workspace Invitations'
      summary: 'Delete workspace invitation'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/workspace-invitations/delete-workspace-invitation.md
      operationId: delete_api_v1_workspaces_workspace_slug_invitations_invitation_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/workspace-invitations/delete-workspace-invitation.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/members/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Members'
      summary: 'Get workspace members'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/members/get-workspace-members.md
      operationId: get_api_v1_workspaces_workspace_slug_members
      x-plane-documentation:
        - https://developers.plane.so/api-reference/members/get-workspace-members.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/members/remove/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - 'Members'
      summary: 'Remove workspace member'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/members/remove-workspace-member.md
      operationId: post_api_v1_workspaces_workspace_slug_members_remove
      x-plane-documentation:
        - https://developers.plane.so/api-reference/members/remove-workspace-member.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/pages/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Pages'
      summary: 'List workspace pages'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/page/list-workspace-pages.md
      operationId: get_api_v1_workspaces_workspace_slug_pages
      x-plane-documentation:
        - https://developers.plane.so/api-reference/page/list-workspace-pages.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'Pages'
      summary: 'Add workspace page'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/page/add-workspace-page.md
      operationId: post_api_v1_workspaces_workspace_slug_pages
      x-plane-documentation:
        - https://developers.plane.so/api-reference/page/add-workspace-page.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/pages/{page_id}/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'page_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Pages'
      summary: 'Get workspace page'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/page/get-workspace-page.md
      operationId: get_api_v1_workspaces_workspace_slug_pages_page_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/page/get-workspace-page.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    put:
      tags:
        - 'Pages'
      summary: 'Update workspace page'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/page/update-workspace-page.md
      operationId: put_api_v1_workspaces_workspace_slug_pages_page_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/page/update-workspace-page.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Pages'
      summary: 'Delete workspace page'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/page/delete-workspace-page.md
      operationId: delete_api_v1_workspaces_workspace_slug_pages_page_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/page/delete-workspace-page.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/pages/{page_id}/archive/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'page_id'
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - 'Pages'
      summary: 'Archive workspace page'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/page/archive-workspace-page.md
      operationId: post_api_v1_workspaces_workspace_slug_pages_page_id_archive
      x-plane-documentation:
        - https://developers.plane.so/api-reference/page/archive-workspace-page.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Pages'
      summary: 'Restore workspace page'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/page/restore-workspace-page.md
      operationId: delete_api_v1_workspaces_workspace_slug_pages_page_id_archive
      x-plane-documentation:
        - https://developers.plane.so/api-reference/page/restore-workspace-page.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/pages/{page_id}/attachments/{attachment_id}/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'page_id'
        in: path
        required: true
        schema:
          type: string
      - name: 'attachment_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Pages'
      summary: 'Get workspace page attachment'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/page/get-workspace-page-attachment.md
      operationId: get_api_v1_workspaces_workspace_slug_pages_page_id_attachments_attachment_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/page/get-workspace-page-attachment.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - 'Pages'
      summary: 'Confirm workspace page attachment upload'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/page/confirm-workspace-page-attachment-upload.md
      operationId: patch_api_v1_workspaces_workspace_slug_pages_page_id_attachments_attachment_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/page/confirm-workspace-page-attachment-upload.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Pages'
      summary: 'Delete workspace page attachment'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/page/delete-workspace-page-attachment.md
      operationId: delete_api_v1_workspaces_workspace_slug_pages_page_id_attachments_attachment_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/page/delete-workspace-page-attachment.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/pages/{page_id}/attachments/{attachment_id}/download/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'page_id'
        in: path
        required: true
        schema:
          type: string
      - name: 'attachment_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Pages'
      summary: 'Download workspace page attachment'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/page/download-workspace-page-attachment.md
      operationId: get_api_v1_workspaces_workspace_slug_pages_page_id_attachments_attachment_id_download
      x-plane-documentation:
        - https://developers.plane.so/api-reference/page/download-workspace-page-attachment.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/Download'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/project-labels/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Project Labels'
      summary: 'List project labels'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/project-labels/list-project-labels.md
      operationId: get_api_v1_workspaces_workspace_slug_project_labels
      x-plane-documentation:
        - https://developers.plane.so/api-reference/project-labels/list-project-labels.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'Project Labels'
      summary: 'Add project label'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/project-labels/add-project-label.md
      operationId: post_api_v1_workspaces_workspace_slug_project_labels
      x-plane-documentation:
        - https://developers.plane.so/api-reference/project-labels/add-project-label.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/project-labels/{label_id}/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'label_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Project Labels'
      summary: 'Get project label detail'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/project-labels/get-project-label-detail.md
      operationId: get_api_v1_workspaces_workspace_slug_project_labels_label_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/project-labels/get-project-label-detail.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    patch:
      tags:
        - 'Project Labels'
      summary: 'Update project label detail'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/project-labels/update-project-label-detail.md
      operationId: patch_api_v1_workspaces_workspace_slug_project_labels_label_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/project-labels/update-project-label-detail.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Project Labels'
      summary: 'Delete project label'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/project-labels/delete-project-label.md
      operationId: delete_api_v1_workspaces_workspace_slug_project_labels_label_id
      x-plane-documentation:
        - https://developers.plane.so/api-reference/project-labels/delete-project-label.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/projects/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Projects'
      summary: 'List projects'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/project/list-projects.md
      operationId: get_api_v1_workspaces_workspace_slug_projects
      x-plane-documentation:
        - https://developers.plane.so/api-reference/project/list-projects.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
    post:
      tags:
        - 'Projects'
      summary: 'Add project'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/project/add-project.md
      operationId: post_api_v1_workspaces_workspace_slug_projects
      x-plane-documentation:
        - https://developers.plane.so/api-reference/project/add-project.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/projects/templates/use/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - 'Projects'
      summary: 'Create project with template'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/project/create-project-with-template.md
      operationId: post_api_v1_workspaces_workspace_slug_projects_templates_use
      x-plane-documentation:
        - https://developers.plane.so/api-reference/project/create-project-with-template.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/projects/{project_id}/archive/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'project_id'
        in: path
        required: true
        schema:
          type: string
    post:
      tags:
        - 'Projects'
      summary: 'Archive project'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/project/archive-project.md
      operationId: post_api_v1_workspaces_workspace_slug_projects_project_id_archive
      x-plane-documentation:
        - https://developers.plane.so/api-reference/project/archive-project.md
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonValue'
      responses:
        '200':
          $ref: '#/components/responses/Json'
        '201':
          $ref: '#/components/responses/Json'
        default:
          $ref: '#/components/responses/Error'
    delete:
      tags:
        - 'Projects'
      summary: 'Unarchive project'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/project/unarchive-project.md
      operationId: delete_api_v1_workspaces_workspace_slug_projects_project_id_archive
      x-plane-documentation:
        - https://developers.plane.so/api-reference/project/unarchive-project.md
      responses:
        '204':
          $ref: '#/components/responses/NoContent'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/projects/{project_id}/archived-cycles/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'project_id'
        in: path
        required: true
        schema:
          type: string
    get:
      tags:
        - 'Cycles'
      summary: 'List archived cycles'
      description: |
        Documented Plane operation.
        Source page(s):
        - https://developers.plane.so/api-reference/cycle/list-archived-cycles.md
      operationId: get_api_v1_workspaces_workspace_slug_projects_project_id_archived_cycles
      x-plane-documentation:
        - https://developers.plane.so/api-reference/cycle/list-archived-cycles.md
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Expand'
      responses:
        '200':
          $ref: '#/components/responses/PaginatedJson'
        default:
          $ref: '#/components/responses/Error'
  '/api/v1/workspaces/{workspace_slug}/projects/{project_id}/archived-cycles/{cycle_id}/unarchive/':
    parameters:
      - name: 'workspace_slug'
        in: path
        required: true
        schema:
          type: string
      - name: 'project_id'
        in: path
        required: true
        schema:
          type: string
      - name: 'cycle_id'
        in: path
[...]
